body {
  font-family: "Courier New", Courier, monospace;
  position: relative;
}

.container {
  background-color: lightgray;
  margin: 0 auto;
  padding: 0;
}

.container-top {
  background-color: purple;
  padding: 5px 0;
  width: 100%;
}

.row-top {
  max-width: 575px;
  padding-right: 5px 0;
}

#entry-form {
  margin-top: 0;
}

h1 {
  padding-left: 10px;
}

i {
  padding-right: 10px;
}

h2 {
  color: white;
  padding-left: 20px;
}

h3,
.modal-row-button {
  display: flex;
  justify-content: space-between;
}

h4 {
  text-align: center;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}

div.column-half > img {
  width: 100%;
}

button {
  margin: 10px 10px 10px 0;
  background-color: purple;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
}

button:hover,
i:hover {
  cursor: pointer;
}

.row.button {
  justify-content: space-between;
}

.row.new {
  justify-content: flex-end;
  padding-right: 10px;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 20px;
}

img.entry {
  object-fit: cover;
}

#navbar-entries {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
}

.hide {
  visibility: hidden;
}

.modal-background {
  background-color: rgba(40, 40, 40, 0.681);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  padding-top: 300px;
  justify-content: center;
}

.modal {
  width: 500px;
  height: 250px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  border-radius: 5px;
  flex-direction: column;
}

.modal-button-row {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.modal-text {
  display: flex;
  justify-content: center;
}

#cancel {
  margin-left: 10px;
  background-color: grey;
  border: none;
}

#delete {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: red;
  text-decoration: underline;
}

#confirm {
  background-color: red;
  border: none;
}
